* {
    box-sizing: border-box;
}


body {
    margin: 0 0 0 0;
    background-color: #ffeae9;
    
    color: #363636;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

p {
    margin: 0px;
}

header {
    background-color: #fff;
    height: 80px;
    width: 98%;
    margin-top: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

header > .header-icon {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 200px;
    
}

.header-icon > img {
    height:  50px;
    width: auto;
    position: relative;
    bottom: 4px
}

header > nav  {
    display: flex;
    gap: 30px;
}

header > .book-now {
    width: 200px;
    display: flex;
    justify-content: end;
}

.book-now > a {
    display: block;
    background-color: #f9dca4;
    
    width: auto;
    margin-right: 10px;
    padding: 15px 20px;
    color:  #6f4e37;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid #6f4e37;
}

main {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



footer {
    background-color: #363636;
    color: #fff;
    height: 300px;
    width: 100%;
    margin-top: 10px;
    border-radius: 30px 30px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 90px 0;
}

footer p {
    color: lightgray;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 1.1em;
}

.footer-contacts a {
    font-size: 2.5em;
}

#yummy-cafe {
    color: #fff;
}

#rights {
    position: relative;
    top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.1em;
}
